
body {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid {
    display: flex;
    background-color: azure;
    width: 600px;
    height: 600px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: burlywood;
}